/* Layout.css */
.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 9999; /* Ensure it's above other content */
    
  }
  .layout-container a img {
    height: 50px;
    width: auto;
  }
  